BasedOnStyle: LLVM
IndentWidth: 8
TabWidth: 8
UseTab: Always
ColumnLimit: 80
SortIncludes: false
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: false
ContinuationIndentWidth: 8
AlignAfterOpenBracket: Align
PointerAlignment: Right
SpaceAfterCStyleCast: false
SpaceBeforeParens: ControlStatements
# Izinkan format singkat untuk struct satu baris agar tidak error
AllowShortBlocksOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
# Menangani spasi di dalam kurung kurawal agar sesuai standar LLVM
Cpp11BracedListStyle: true
# Pastikan ada spasi sebelum komentar di akhir baris
SpacesBeforeTrailingComments: 1