build/
*.img
fs.img
xv6OS.img
icons_data.c
app_icons_data.c
*.o
*.d
*.asm
*.sym
_*
initcode
initcode.out
bootblock
entryother
.DS_Store
.swp
*~
.vscode/
.idea/

mkfs

# Generated icon files
include/app_icons.h
kernel/app_icons_data.c
include/character.h
include/character.c