name: OS Build CI

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24'

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Install Python Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install Pillow
          # Library ini dibutuhkan oleh convert.py untuk memproses ikon

      - name: Install System Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y gcc-multilib build-essential binutils

      - name: Clean Environment
        run: make clean

      - name: Build OS Images
        run: make all

      - name: Check Artifacts
        run: |
          if [ -f "img/xv6OS.img" ] && [ -f "img/fs.img" ]; then
            echo "Build Success: Images found."
            ls -lh img/
          else
            echo "Build Failed: Images not found."
            exit 1
          fi

      - name: Upload Build Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: OS-Images
          path: img/
